# 包管理器设置
strict-peer-dependencies=false
auto-install-peers=true

# node 版本
use-node-version=20.10.0
node-version=20.10.0

# 镜像源设置
registry=https://registry.npmmirror.com/

# 性能相关
network-timeout=60000
fetch-retries=3
fetch-retry-mintimeout=5
fetch-retry-maxtimeout=60

# 缓存设置
cache-min=3600
cache-max=86400

# 安全设置
audit=true
fund=false

# 代理设置
proxy=http://192.168.3.208:7890
https-proxy=http://192.168.3.208:7890