@use '../styles/variables.scss' as *;

.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: $white;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.06);

  &-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $spacing-small 0;
    
    .icon {
      margin-bottom: $spacing-mini;
      line-height: 1;
    }

    .text {
      font-size: $font-size-small;
      line-height: 1;
    }
  }
} 